/* === MÓDULO: Evaluación y Calificación === */
.grid-evaluacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.bloque-calculo {
  margin-bottom: 15px;
}

.campos-evaluacion .campo {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}

.campos-evaluacion label {
  width: 120px;
}

.campos-evaluacion input {
  width: 60px;
}

#finalScore {
  font-weight: bold;
  background-color: #f6f6f6;
}

#retro {
  width: 90%;
  height: 200px;
  resize: vertical;
}

